.button {
  background-color: white;
  border: 2px solid rgb(187, 185, 185);
  width: 150px;
  height: 50px;
  border-radius: 30px;
  color: black;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 25px;
}

.aquamarine-button:hover {
  background-color: darkcyan; 
}

.button.active {
  background-color: rgb(
    13,
    186,
    186
  );
  color: #fff;
}
