.container-chat {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.chat-header {
    text-align: center;
    margin-bottom: 20px;
    color: #1976d2;
}

.message-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 100px !important;
}

.message-item {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.message-item.user {
    background-color: #f0f0f0;
    text-align: right;
    animation: slideIn 0.5s forwards;
}

.message-item.model {
    background: linear-gradient(90deg, #d9e021 0, #8cc63f 100%) 0 0 no-repeat padding-box;
    text-align: left;
    animation: slideOut 0.5s forwards;
}

.text-field {
    margin-top: 20px;
}

.send-button {
    margin-top: 10px;
    width: 100%;
}

.text-field {
    margin-bottom: 20%;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}